<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="LoadTCMIP">
	<parameter name="emailRecips" value="false" />
	<parameter name="browser" value="chrome" />
	<parameter name="logDebugMsgs" value="false" />
	<parameter name="overrideValidation" value="true" />
	<parameter name="lastModifiedDate" value="11/01/2024" />
	<test name="Load TC in MIP" preserve-order="true">
		<classes>
			<class name="loadTCMIP.LoadTCMIP">
				<methods>
					<include name="enterTC" />
<!-- 					<include name="enterReq" /> -->
				</methods> <!-- Method -->
			</class> <!-- Class -->
		</classes> <!-- Classes -->
	</test> <!-- Test -->
</suite> <!-- Suite -->